<ion-header [translucent]="true">
  <div class=""
    style="background-color: black; display: flex; justify-content: space-between; align-items: center; padding-right: 16px; padding-left: 16px;">
    <div>
      <ion-img src="assets/imgs/logo-duoc.svg" alt="" style="height: 40px;"></ion-img>
    </div>
    <div style="color: white; font-weight: bold;">Jaime</div>
  </div>
</ion-header>

<ion-content [fullscreen]="true" class="ion-content">
  <h1>Página no encontrada</h1>
  <h2 routerLink="/login">Ir al login</h2>
</ion-content>